.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-lg);
  padding: var(--spacing-md) var(--spacing-lg);
  font-weight: 600;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  height: 3rem;
}

.button:hover {
  transform: scale(1.02);
  border: 1px solid var(--font-color);
}

.button:active {
  transform: scale(0.95);
}

.primary {
  background-color: var(--accent-color);
  color: var(--main-color);
}

.primary:hover:not(.disabled):not([disabled]) {
  background-color: var(--main-color);
  color: var(--font-color);
}

.secondary {
  border: 1px solid var(--font-color);
  background-color: var(--main-color);
  color: var(--font-color);
}

.secondary:hover {
  border: 1px solid transparent;
  background-color: var(--accent-color);
  color: var(--main-color);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  transform: none;
  pointer-events: none;
}
