.container {
  height: 9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-xxl);
  border-bottom: 1px solid var(--gray-color);
  background-color: var(--main-color);
  justify-content: space-around;
  position: sticky;
}
